<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Create Message</h4>
    </div>
    <div class="modal-body">

			<%= form_for @message do |f| %> 
				<%= f.hidden_field :sender_id, value: @current_user.id %>
				<div class="inputForm"> 
					<%= f.select(:recipient_id, options_from_collection_for_select(User.all, "id", "full_name")) %>
				</div>
				<div class="inputForm"> 
					<%= f.text_field(:subject, placeholder: "Subject") %> 
				</div>
				<div class="inputForm">
					<%= f.text_area(:body, cols: 20, rows: 10, placeholder: "Message") %>
				</div>

				<%= f.submit "Send Message", class: "btn btn-primary" %>

			<% end %>

    </div><!-- /.modal-body -->
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->