<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
    </div>
    <div class="modal-body">

			<%= form_tag(new_message_path, method: :post) do %> 
				<%= hidden_field_tag :sender_id, value: @current_user.id %>
				<div class="inputForm"> 
					<%= select_tag(:recipient_id, options_from_collection_for_select(User.all, "id", "full_name")) %>
				</div class="inputForm">
				<div class="inputForm"> 
					<%= text_field_tag(:subject) %> 
				</div class="inputForm">
				<div class="inputForm">
					<%= text_area_tag(:body, "Enter Message Here", size: "24x6") %>
				</div class="inputForm">

				<%= submit_tag "Send Message", class: "btn btn-primary" %>

			<% end %>

    </div><!-- /.modal-body -->
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->