<%= form_for @user, url: login_path do |f| %>
  <%= flash[:error] %>

  <div style="width: 250px">
    <%= f.label :email %>
    <br>
    <%= f.text_field :email, class: "txtfield" %>
  </div>

  <div style="width: 250px">
    <%= f.label :password %>
    <br>
    <%= f.password_field :password, class: "txtfield" %>
  </div>
  <br>
  <div><%= f.submit "Login", class: "btn btn-primary" %></div>
<% end %>
