  <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li>
        <a href="#" style="padding: 0px; display: inline;">
          <%= link_to users_path do %>
            <img src="<%= asset_path('synapsABILITY_logo_navbar.png')%>" alt="synapsABILITY" >
          <% end %>
        </a>
      </li>
      <li>
        <%= link_to questions_path do %>
          <span class="glyphicon glyphicon-question-sign"></span> Questions
        <% end %>
      </li>
      <li>
        <%= link_to services_path do %>
          <span class="glyphicon glyphicon-list"></span> Services
        <% end %>
      </li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to messages_path do %>
          <span class="glyphicon glyphicon-envelope"></span>
        <% end %>
      </li>
      <li>
        <%= link_to logout_path do %>
            <span class="glyphicon glyphicon-log-out"></span>
        <% end %>
      </li>
      <li>
        <%= link_to user_path(@current_user) do %>
            <span class="glyphicon glyphicon-user"></span> <%= @current_user.full_name %>
        <% end %>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>