<!DOCTYPE html>
<html>
	<head>
		<%= stylesheet_link_tag "application", media: "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<link class="icon" rel="shortcut icon" href="<%= asset_path('synapse.ico')%>">


	</head>

	<body>
		<!-- NAVBAR -->
		<% if session[:user_id]  %>
			<%= render template: 'layouts/_navbar' %>
		<% end %>

		<%= yield %>
	</body>

	<%= yield :scripts %>
</html>
